.banner {
  margin: 42px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: $darkbrown;
    font-size: 36px;
    font-weight: 400;
  }
}

.logo {
  height: 50px;
}
